.card {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  /* text-align: center; */
  /* background-color: red; */

}

.card > .img-container {
  /* height: 60%; */
  overflow: hidden;
  text-align: center;
  /* background:#6CADDC; */
  background-color: red;
}

.card > .img-container > img {
  width: 60%;
}

.card > .content {
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  font-size: 15px;
  /* background-color: red; */
}

.card > .content > ul {
  list-style-type: none;
  /* background-color: red; */

}

.card > .content > ul > li {
  margin-top: 18px;
  /* background-color: red; */

}

.dropdown {
  border-radius: 50px;
  text-align: center;
  margin: 1rem;
}

input{
  /* background-color: red; */
  size: 500px;
}
